<!-- Terms Modal -->
<div id="terms-modal" class="modal">
    <div class="modal-content legal-content">
        <span class="close-modal" id="close-terms">&times;</span>
        <div class="auth-body" style="height: 100%; display: flex; flex-direction: column;">
            <h2 data-i18n="termsTitle">Términos y Condiciones</h2>
            <div class="legal-text-container" id="terms-content">
                <!-- Dynamic Content -->
            </div>
            <button type="button" class="btn-primary btn-block" id="accept-terms-btn"
                data-i18n="closeBtn">Cerrar</button>
        </div>
    </div>
</div>